Repository rafaelminatto1/fisioflow-aistudio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate, npx prisma format, npx prisma validate

feat: Implementar CI/CD completo e melhorar documentação
  .github/workflows/deploy-digitalocean.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
Due: prettier --write

fix: correção do schema Prisma para PostgreSQL e otimizações para deploy
  prisma/schema.prisma
Due: npx prisma format, npx prisma validate

fix: otimização do Dockerfile e habilitação do output standalone
  Dockerfile
  next.config.js
Due: eslint --fix, prettier --write

fix: configurações mais permissivas para ESLint e TypeScript para deploy
  .eslintrc.json
  tsconfig.json
Due: prettier --write

fix: simplificar configurações de build para DigitalOcean
  next.config.js
  package.json
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,yml,yaml})
  tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  npm audit --audit-level=moderate: any of: package.json
  npx prisma format: any of: prisma/schema.prisma
  npx prisma validate: any of: prisma/schema.prisma
