Repository rafaelminatto1/fisioflow-aistudio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate, npx prisma format, npx prisma validate

fix: replace winston with pino logger for better performance
  lib/api.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: replace winston with pino in logger.ts for optimized production logging
  lib/logger.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: remove non-existent .prisma directory from Dockerfile copy
  Dockerfile
Due: none

feat: complete DigitalOcean deployment optimization and success
  .trae/documents.backup.20250910-102931/FUNCIONALIDADES_COMPLETAS.md
  .trae/documents.backup.20250910-102931/arquitetura-tecnica-detalhada.md
  .trae/documents.backup.20250910-102931/arquitetura-tecnica-fisioflow.md
  .trae/documents.backup.20250910-102931/arquitetura-tecnica-shadcn-ui.md
  .trae/documents.backup.20250910-102931/deploy-digitalocean-fisioflow.md
  .trae/documents.backup.20250910-102931/fase-2-formularios-avancados-ux-ui.md
  .trae/documents.backup.20250910-102931/feegow-analysis-roadmap.md
  .trae/documents.backup.20250910-102931/fisioflow-roadmap-funcionalidades.md
  .trae/documents.backup.20250910-102931/guia-assinatura-digitalocean-database.md
  .trae/documents.backup.20250910-102931/guia-hospedagem-fisioflow.md
  .trae/documents.backup.20250910-102931/guia-implementacao-pratica.md
  .trae/documents.backup.20250910-102931/monitoramento-digitalocean-fisioflow.md
  .trae/documents.backup.20250910-102931/planejamento-estrategico-fisioflow.md
  .trae/documents.backup.20250910-102931/plano-executivo-fisioflow.md
  .trae/documents.backup.20250910-102931/plano-implementacao-executivo.md
  .trae/documents.backup.20250910-102931/plano-limpeza-documentacao.md
  .trae/documents.backup.20250910-102931/plano-melhoria-ux-ui-shadcn.md
  .trae/documents.backup.20250910-102931/resumo-executivo-fisioflow.md
  .trae/documents.backup.20250910-102931/technical-implementation-guide.md
  .trae/documents.backup.20250910-102931/troubleshooting-digitalocean-fisioflow.md
  .trae/documents/plano-limpeza-documentacao.md
Due: prettier --write

feat: comprehensive strategic roadmap for FisioFlow 2025
  PLANO_ESTRATEGICO_FISIOFLOW.md
Due: prettier --write

feat: Add financial dashboard and deploy configuration for Digital Ocean
  .trae/documents/DEPLOY/ARQUITETURA-DIGITAL-OCEAN.md
  .trae/documents/DESENVOLVIMENTO/CONFIGURACAO-AMBIENTE.md
  .trae/documents/DESENVOLVIMENTO/technical-implementation-guide.md
  .trae/documents/OPERACIONAL/plano-limpeza-documentacao.md
  .trae/documents/OVERVIEW/FUNCIONALIDADES_COMPLETAS.md
  .trae/documents/OVERVIEW/planejamento-estrategico-fisioflow.md
  app/api/financial/receipts/[id]/pdf/route.ts
  app/api/financial/receipts/[id]/route.ts
  app/api/financial/receipts/route.ts
  components/DelinquencyControl.tsx
  components/FinancialDashboard.tsx
  components/FinancialTransactions.tsx
  components/ReceiptGenerator.tsx
  package.json
  prisma/schema.prisma
  scripts/cleanup-docs.sh
  scripts/validate-docs.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate, npx prisma format, npx prisma validate

fix: Add date-fns dependency for build
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: Change build command from npm ci to npm install
  .digitalocean.app.yaml
Due: prettier --write

fix: Add Node.js and npm version specification
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: Use safe semver range for Node.js version
  package.json
Due: prettier --write, npm audit --audit-level=moderate

feat: Use Dockerfile for deployment instead of buildpack
  .digitalocean.app.yaml
  Dockerfile
Due: prettier --write

fix: Correct date-fns imports in AgendaClient
  components/agenda/AgendaClient.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: resolve authentication and Redis issues for production deployment
  .digitalocean.app.yaml
  .dockerignore
  .gitignore
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/react-loadable-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/interception-route-rewrite-manifest.js
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/middleware-react-loadable-manifest.js
  .next/server/next-font-manifest.js
  .next/server/next-font-manifest.json
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/server/webpack-runtime.js
  .next/trace
  .next/types/package.json
  .trae/documents/DEPLOY/CONFIGURACAO-FINAL-DEPLOY.md
  app/api/auth/test/route.ts
  app/api/status/route.ts
  app/dashboard/page.tsx
  components/AiAssistant.tsx
  docs/API.md
  jest.config.js
  lib/auth.ts
  lib/edge-logger.ts
  lib/redis.ts
  lib/security.ts
  lib/session-cache.ts
  middleware.ts
  tests/integration/basic.test.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate

fix: add comprehensive NextAuth debugging and diagnostics
  NEXTAUTH-PRODUCTION-DEBUG.md
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/debug/route.ts
  app/api/auth/test/route.ts
  debug-auth-production.js
  lib/auth-simple.ts
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: create robust debugging endpoints for auth troubleshooting
  TROUBLESHOOTING-AUTH.md
  app/api/auth/debug/route.ts
  app/api/debug-simple/route.ts
  app/api/ping/route.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: resolve TypeScript build error in debug endpoint
  .github/SECRETS.md
  .github/workflows/deploy.yml
  .trae/documents/DEPLOY/CONFIGURACAO-SEGURANCA.md
  .trae/documents/DEPLOY/MONITORAMENTO-ALERTAS.md
  app/api/auth/debug/route.ts
  scripts/monitor-health.sh
  scripts/security-check.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: resolve TypeScript compilation errors in debug endpoints
  SECURITY-HEADERS.md
  app/api/debug-simple/route.ts
  nginx-security.conf
  scripts/configure-security-headers.sh
  scripts/security-check.sh
  security-report-20250910-144852.txt
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: configure DigitalOcean PostgreSQL database connection
  .env
  .trae/documents/DEPLOY/GUIA-TROUBLESHOOTING.md
  .trae/documents/DEPLOY/PROCEDIMENTOS-BACKUP.md
  .trae/documents/DEPLOY/RUNBOOK-OPERACOES.md
  app/api/debug-simple/route.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: correct NextAuth signOut event parameter
  .trae/documents/DEPLOY/PROCESSO-ROLLBACK.md
  .trae/documents/DEPLOY/RUNBOOK-OPERACOES.md
  lib/auth.ts
  scripts/final-tests.sh
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: simplify NextAuth signOut event handler
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: remove Redis dependency from auth to fix 500 error in production
  fix-auth-deploy.sh
  lib/auth-backup.ts
  lib/auth-no-redis.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: Correção do sistema de autenticação e configuração completa do banco de dados
  .next/trace
  .trae/documents/DEPLOY/CONFIGURACAO-FINAL-DEPLOY.md
  PRODUCTION-FIX-REPORT.md
  debug-production-auth.js
  prisma/schema.prisma
  scripts/database-monitoring.js
  scripts/setup-database-backup.sh
  test-database.js
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, npx prisma format, npx prisma validate

feat: Finalização completa do sistema FisioFlow AI Studio
  .next/trace
  app/(auth)/login/page.tsx
  app/api/agendamentos/route.ts
  app/api/dashboard/metrics/route.ts
  app/api/exercicios/route.ts
  app/exercicios/page.tsx
  app/login/page.tsx
  app/pacientes/[id]/avaliacao/page.tsx
  components/ExercisePrescriptionModal.tsx
  components/PainMapInteractive.tsx
  components/ui/dialog.tsx
  components/ui/textarea.tsx
  data/expandedExerciseLibrary.ts
  package-lock.json
  package.json
  scripts/create-admin-users.js
  services/exerciseLibraryService.ts
  services/painMapService.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate

feat: Implementação completa FINAL do FisioFlow AI Studio
  .github/workflows/ci.yml
  .next/trace
  cloudflare-setup.md
  components/PainAnalyticsDashboard.tsx
  next.config.js
  package-lock.json
  package.json
  playwright.config.ts
  scripts/deploy-production.sh
  scripts/import-25k-exercises.js
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  tests/e2e/auth.spec.ts
  tests/e2e/dashboard.spec.ts
  tests/e2e/patients.spec.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate

fix: Corrige erros críticos de build para produção
  .next/trace
  app/agenda/page.tsx
  app/pacientes/[id]/avaliacao/page.tsx
  app/pacientes/page.tsx
  components/AISettingsModal.tsx
  components/AgendaRiskIndicator.tsx
  components/NoShowPredictionDashboard.tsx
  components/NoShowPredictionModal.tsx
  components/NoShowRiskIndicator.tsx
  components/PainAnalyticsDashboard.tsx
  components/PredictionEffectivenessReport.tsx
  hooks/useNoShowPrediction.ts
  instrumentation.ts
  lib/email.ts
  lib/whatsapp.ts
  next.config.js
  prisma/schema.prisma
  sentry.edge.config.ts
  sentry.server.config.ts
  services/aiNoShowPredictionService.ts
  services/notificationService.ts
  services/painMapService.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npx prisma format, npx prisma validate

fix: resolve Prisma connectivity and build errors
  .next/trace
  app/actions/patient.actions.ts
  components/FinancialGoals.tsx
  components/ui/slider.tsx
  components/ui/switch.tsx
  lib/auth.ts
  lib/database-config.ts
  lib/middleware/performance.ts
  lib/prisma.ts
  package-lock.json
  package.json
  services/ai-economica/mcpService.ts
  services/notificationService.ts
  test-db-connection.js
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate

feat: Complete dashboard implementation with modern UI
  .next/trace
  app/actions/patient.actions.ts
  app/dashboard/page.tsx
  components/Header.tsx
  components/Sidebar.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Update: Modificações nos componentes e adição de nova API de pacientes
  .next/trace
  app/api/patients/[id]/route.ts
  app/api/patients/route.ts
  app/pacientes/page.tsx
  components/FinancialTransactions.tsx
  components/layout/Sidebar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

feat: save current work before merge
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .next/trace
  app/api/appointments/[id]/route.ts
  app/api/appointments/calendar/route.ts
  app/api/appointments/route.ts
  components/AppointmentCalendar.tsx
  components/AppointmentFormModal.tsx
  components/NewAppointmentFormModal.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate

feat: Implement complete appointment management system
  .do/app.yaml
  DEPLOY_DIGITALOCEAN.md
  Dockerfile
  deploy.sh
  domain-ssl-config.md
  security.config.js
  setup-database.sh
Due: eslint --fix, prettier --write

feat: Complete appointment management system with status tracking and daily timeline
  .do/app.yaml
  app/agenda/page.tsx
  components/AppointmentStatusManager.tsx
  components/DailyTimeline.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: Simplify DigitalOcean app config to resolve deployment errors
  .do/app.yaml
Due: prettier --write

fix: Remove environment_slug conflicting with dockerfile_path
  .do/app.yaml
Due: prettier --write

fix: Update GitHub repository name in DigitalOcean config
  .do/app.yaml
Due: prettier --write

fix: Change app name to avoid conflicts
  .do/app.yaml
Due: prettier --write

feat: Complete telemedicine system and AI exercise expansion
  .next/trace
  app/actions/patient.actions.ts
  app/agenda/page.tsx
  app/api/agendamentos/route.ts
  app/api/ai/categorize-batch/route.ts
  app/api/ai/categorize-exercise/route.ts
  app/api/ai/predict-noshow/route.ts
  app/api/ai/protocol-suggestions/route.ts
  app/api/ai/quality-validation/route.ts
  app/api/analytics/dashboard/route.ts
  app/api/analytics/events/route.ts
  app/api/analytics/metrics/route.ts
  app/api/appointments/[id]/route.ts
  app/api/appointments/calendar/route.ts
  app/api/appointments/route.ts
  app/api/dashboard/metrics/route.ts
  app/api/exercicios/route.ts
  app/api/exercise-approvals/route.ts
  app/api/exercises/custom/route.ts
  app/api/exercises/search-optimized/route.ts
  app/api/financial/cashflow/route.ts
  app/api/financial/delinquency/contact/route.ts
  app/api/financial/delinquency/route.ts
  app/api/search/analytics/route.ts
  app/api/telemedicine/sessions/route.ts
  components/AICategorization.tsx
  components/CustomExerciseBuilder.tsx
  components/OptimizedExerciseSearch.tsx
  components/SearchAnalyticsDashboard.tsx
  components/TelemedicineDashboard.tsx
  components/TelemedicineVideoCall.tsx
  prisma/schema.prisma
  scripts/import-pathologies-and-templates.js
  scripts/optimize-database-indexes.sql
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npx prisma format, npx prisma validate

fix: Resolve deployment import errors
  .next/trace
  README.md
  app/api/auth/[...nextauth]/route.ts
  app/api/financial/delinquency/stats/route.ts
  app/api/financial/receipts/send/route.ts
  app/api/financial/reports/route.ts
  app/api/financial/transactions/route.ts
  components/FinancialGoals.tsx
  components/Sidebar.tsx
  lib/auth.ts
  lib/email.ts
  lib/whatsapp.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: Enhanced webpack config to resolve build warnings
  next.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,yml,yaml})
  tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  npm audit --audit-level=moderate: any of: package.json
  npx prisma format: any of: prisma/schema.prisma
  npx prisma validate: any of: prisma/schema.prisma
