Repository rafaelminatto1/fisioflow-aistudio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate, npx prisma format, npx prisma validate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "tsc --noEmit --skipLibCheck"
  ],
  "package.json": [
    "npm audit --audit-level=moderate"
  ],
  "prisma/schema.prisma": [
    "npx prisma format",
    "npx prisma validate"
  ]
}

docs: add final status documentation and database test script
  FINAL_STATUS.md
  test-db-connection.js
Due: eslint --fix, prettier --write

feat: add comprehensive system modules and database schema
  app/admin/financial/page.tsx
  app/admin/inventory/page.tsx
  app/admin/library/page.tsx
  app/admin/library/pathologies/page.tsx
  app/api/ai/predict-noshow/route.ts
  app/api/ai/protocol-suggestions/route.ts
  app/api/financial/cashflow/route.ts
  app/api/financial/payouts/route.ts
  app/api/financial/transactions/route.ts
  app/api/inventory/items/route.ts
  app/api/inventory/movements/route.ts
  app/api/marketing/automations/route.ts
  components/pacientes/assessments/BergBalanceScale.tsx
  components/pacientes/assessments/TimedUpAndGo.tsx
  prisma/schema.prisma
  scripts/cron/marketing-automation.js
  types.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npx prisma format, npx prisma validate

fix: remove husky prepare script for production build
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: corrigir run_command e NEXTAUTH_URL no app.yaml
  .do/app-production.yaml
  .do/app-simple.yaml
Due: prettier --write

fix: enable standalone output for DigitalOcean deployment
  next.config.js
Due: eslint --fix, prettier --write

fix: simplify Dockerfile for DigitalOcean compatibility
  Dockerfile
Due: none

fix: copy prisma schema correctly in Dockerfile
  Dockerfile
Due: none

Fix Jest configuration and test imports for successful deployment
  jest.config.js
  tests/integration/basic.test.ts
  tests/integration/components.test.jsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Add --skip-tests flag to DigitalOcean deploy script
  scripts/deploy-digitalocean.js
Due: eslint --fix, prettier --write

Add debug logs for --skip-tests flag
  scripts/deploy-digitalocean.js
Due: eslint --fix, prettier --write

Deploy DigitalOcean: correções Dockerfile, ESLint atualizado, scripts automatizados
  .do/app.yaml
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/server-reference-manifest.json
  .next/trace
Due: prettier --write

Fix: Corrige erros de build - Prisma Schema e ESLint deprecated + Deploy DigitalOcean
  .do/app.yaml
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/server-reference-manifest.json
  .next/trace
  prisma/schema.prisma
  scripts/deploy-digitalocean.js
Due: eslint --fix, prettier --write, npx prisma format, npx prisma validate

Fix: Corrige cópia do Prisma Client no Dockerfile - stage runner
  Dockerfile
Due: none

Fix: Garante que Prisma schema esteja disponível antes do npm ci
  Dockerfile
Due: none

Fix: Instala todas as dependências antes de gerar Prisma Client
  Dockerfile
Due: none

Fix: Reorganiza ordem das operações no builder stage para Prisma
  Dockerfile
Due: none

feat: Integrate event management module with deployment configurations
  .do/app.yaml
  scripts/setup-env-digitalocean.js
Due: eslint --fix, prettier --write

fix: resolve deployment issues and optimize Docker configuration
  .do/app-simple.yaml
  .do/app.yaml
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/middleware-build-manifest.js
  .next/server/next-font-manifest.js
  .next/server/next-font-manifest.json
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.json
  .next/server/webpack-runtime.js
  .next/trace
  Dockerfile
  app/api/events/[id]/registrations/route.ts
  app/api/events/[id]/route.ts
  app/api/events/providers/[providerId]/status/route.ts
  app/api/events/registrations/[registrationId]/checkin/route.ts
  app/events/[id]/page.tsx
  app/events/page.tsx
  data/mockData.ts
  services/eventService.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix: resolve all DigitalOcean deployment issues
  .do/app.yaml
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/middleware-react-loadable-manifest.js
  .next/server/next-font-manifest.js
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/server/webpack-runtime.js
  .next/trace
  Dockerfile
  lib/auth.ts
  lib/middleware/performance.ts
  middleware.simple.ts
  middleware.ts
  package.json
  temp-env-vars.yaml
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, npm audit --audit-level=moderate

Fix Dockerfile: Copy prisma schema before generating client
  Dockerfile
Due: none

Fix Dockerfile: Copy package.json before prisma generate
  Dockerfile
Due: none

Simplify Dockerfile: Let package.json scripts handle prisma generate
  Dockerfile
Due: none

Ensure prisma folder is included in Docker build
  .dockerignore
Due: none

Fix Dockerfile: Remove duplicated commands and clean structure
  Dockerfile
Due: none

Add explicit build commands to app.yaml for Prisma setup
  .do/app.yaml
Due: prettier --write

fix: remove postinstall to prevent prisma generate errors
  .digitalocean.app.yaml
  .do-app-spec-final.yaml
  .env.production.optimized
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.json
  .next/server/webpack-runtime.js
  .next/trace
  DEPLOY.md
  DEPLOY_SUCCESS_GUIDE.md
  DIGITALOCEAN_DEPLOY_ANALYSIS.md
  Dockerfile
  Dockerfile.optimized
  digitalocean-deploy-spec.yaml
  docker-compose.yml
  next.config.js
  package-lock.json
  package.json
  prisma/schema.prisma
  scripts/analyze-digitalocean-issues.sh
  scripts/deploy-digitalocean.sh
  scripts/deploy-optimized.sh
  scripts/setup-digitalocean.sh
  scripts/validate-docker-build.sh
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate, npx prisma format, npx prisma validate

fix: copy Prisma schema before npm ci to resolve build errors
  Dockerfile
Due: none
